body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* general */
:root {
  --primary: #420039ff;
  --secondary: #932f6dff;
  --tertiary: #dcccffff;
}

* {
  color: var(--primary);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body,
#main {
  background-color: var(--tertiary);
}

#main {
  margin-top: 90px;
}

/* buttons */
.button1 {
  margin: 5px;
  padding: 5px;
  border: 2px solid var(--primary);
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--tertiary);
  text-decoration: none;
  font-size: 15px;
}

.button1:hover {
  color: var(--tertiary);
  font-weight: bold;
}

.button2 {
  margin: 5px;
  padding: 5px;
  color: var(--primary);
  text-decoration: none;
  font-size: 15px;
}

.button2:hover {
  color: var(--primary);
  font-weight: bold;
}

.button3 {
  margin: 5px;
  padding: 5px;
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  border-radius: 5px;
  color: var(--tertiary);
  text-decoration: none;
  font-size: 15px;
}

.button3:hover {
  color: var(--tertiary);
  font-weight: bold;
}

/* header */
header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
}

#pageTitle {
  text-decoration: none;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: var(--primary);
}

footer a:hover {
  font-weight: bold;
  color: var(--primary);
}

/* image card */

.imageCard {
  border: 3px solid var(--secondary);
  background-color: var(--primary);
  max-width: 500px;
}

/* image modal */
.modalBackdrop {
  background: rgba(0, 0, 0, .65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.modalContainer {
  background: var(--primary);
  border-radius: 5px;
  margin: 50px auto;
  width: 960px;
  max-width: 100%;
  height: auto;
}

.modalContainer img {
  max-width: 100%;
  height: auto;
}

.modalContainer p,
.modalContainer h4 {
  color: var(--tertiary);
}